/options.txt
/optionsof.txt
/knownkeys.txt
/.curseclient
/llibrary/
/.mixin.out/
/logs
/minemenu/
/lootblock/
minecraftinstance.json
realms_persistence.json
/saves
mods/
usercache.json
usernamecache.json
/screenshots
/crash-reports
/bendspacks
/balancepacks
/backups
optionsshaders.txt
/XaeroWaypoints
XaeroWaypoints_*
journeymap/
/flan/
crafttweaker.log
dropt.log
config/jei/worldSettings.cfg
/config/konkrete
/config/LostBooks/*.bin
/llibrary/debug/
/config/multimob/modInformation/
/config/BiomeTweaker/output/
/config/triumph/documentation/
/mods/hats/
/mods/LagGoggles-1.12.2-5.8-132.jar
/config/LagGoggles-server.cfg
/config/LagGoggles-client.cfg
/mods/TickCentral-3.2.jar
manifest.json
modlist.html
.ReAuth.cfg
concheckrmd
.gamelaunched
servers.dat
/downloads/
/resourcepacks/*.zip
/shaderpacks/BSL_v8.1.02.2.zip
/shaderpacks/Sora_Shaders_1.142.zip
/shaderpacks/Chocapic13_V9.1_Extreme_beta_5.zip
/fancymenu_data/last_world.fmdata
mputils/settings.dat
/scripts/.zsrc
/structures/schematics/
seen_buildersbag_addons.txt
patchouli_data.json
/config/splash.properties
/config/customloadingscreen_timings.nbt
/config/cd4017be/compiled.dat
/config/InvTweaks.cfg
/config/fantasticlib/reference/*
/essential/avatar-cache/
/essential/cosmetic-cache/
/essential/loader/
/essential/screenshot-cache/
/essential/lwjgl3-natives/
/essential/screenshot-checksum-caches.json
/essential/Essential (forge_1.12.2).jar
/config/worldedit/
/config/scavenge/I*.txt
/config/Loot\ Overhaul/Useful\ Info/
/config/fancymenu/locals/*.local
/config/codechicken/
config/startuptimer/startup_times.json
/*.log
/config/pyrotech/core.compat.Ore-Generated.json
/config/pyrotech/core.compat.Wood-Generated.json
/config/pyrotech/module.tech.Bloomery.Slag-Generated.json
/config/StarvationAhoy/food_dump.json
/local/ftbutilities/backups.json
/profile.json
/playerdata/
shaderpacks/BSL_v8.2.08.zip
shaderpacks/Sildur's Vibrant Shaders v1.51 Extreme-VL.zip
impossible_data/what_is_this_folder.txt
config/wecui3.yml
config/Mapmaker's Gadgets/NBTOutput.txt
config/voicechat/username-cache.json
/config/activity.json
/config/spark
config/voicechat/voicechat-client.properties
config/voicechat/username-cache.json
config/voicechat/voicechat-volumes.properties
key_bindings.json
shaderpacks/BeyondBeliefLegacy_V1.2.3.zip
shaderpacks/Insanity-Shader-Universal-v1.600.zip
